# Binary Files
Binaries/*

# Compiled source files for the engine to use
Intermediate/*

# Third Party Libraries
Source/ThirdParty/ZBarLibrary/*
!Source/ThirdParty/ZBarLibrary/ZBarLibrary.Build.cs

Source/ThirdParty/OpenCVLibrary/*
!Source/ThirdParty/OpenCVLibrary/OpenCVLibrary.Build.cs
